<!DOCTYPE html>
<html ng-app="myApp">
	<head>
		<meta charset="UTF-8">
		<title></title>
		<script src="js/angular.min.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			var m1 = angular.module('myApp',[]);
			m1.controller('Aaa',function($scope,$timeout){
				
				$scope.name = "gkk";
				
				$scope.timeOut = $timeout(function(){
					$scope.name = "gkksb";
				},2000)
				$scope.change = function(){
					$scope.name = "gkkeb";
				}
				
			})
			
		</script>
	</head>
	<body>
		<div ng-controller="Aaa" ng-click="change()">
			
			<!--<p><input type="text" ng-model="name" /></p>-->
			<p>{{name}}</p>
		</div>
	</body>
</html>
